<section class="dev-experience bg-dark mt-5 mb-5" id="dev-experience" >
    <div class="container mt-5 mb-5 margined">
      <div class="row pd-5 margined">
        <p class="h2 text-center mt-5 mb-5 text-warning">Proyectos</p>
        
          <div class="col-sm-3 d-flex justify-content-between px-md-1 ">  
            <div class="card text- bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/alura_encript.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desencriptador Alura
                </h5>
                <p class="card-text">Pagina web para encriptar y desencriptar palabras secretas.
                  Desafio challenge Alura</p>
                <a href="https://gastonpaez.github.io/challengeonecodificador2/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/blender_1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Web Curso de Blender</h5>
                <p class="card-text">Landing Page acerca de una capacitación en Blender. Trabajado en Grid y Flexbox.
                  Botones de acción y sliders en JavaScript.</p>
                <a href="https://gastonpaez.github.io/landing_page/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/scrapy_score.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Extraccion de datos Scrapy</h5>
                <p class="card-text">Pagina web de extracción de datos actualizados sobre tabla de puntaje de fútbol argentino.
                  Trabajada con scrapy, se realizo un spider en Zyte para que recupere los datos acuatizados en cada ingreso.</p>
                <a href="https://gastonpaez.github.io/web_score_scraping/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/dinoweb.gif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dino Web</h5>
                <p class="card-text">Landing Page sobre Dinosaurios.
                  Utilización de efecto parallax en banner y galería con efecto y vista previa lightbox.
                  Gif editado en adobe Premiere y transparentado en Photoshop como secuencia png. Uso de Grid y Flexbox. Footer fixed.</p>
                <a href="https://gastonpaez.github.io/dino_web/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/web2-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Informes Desclasificados CIA</h5>
                <p class="card-text">Scrapping a CIA website con Librería Scrapy de Python Spider alojado en nube ScrapingHub mediante archivo Json La web obtiene datos de manera actualizada y remota. En caso de falla obtiene Json local.</p>
                <a href="https://gastonpaez.github.io/scrapy-intelligence-agency/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/fix_phone_1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Web Venta y Reparación Movil</h5>
                <p class="card-text">Web sobre venta y soporte técnico de celulares y dispositivos electrónicos.
                  Uso de cards y efectos ondulantes sobre imágenes.</p>
                <a href="https://gastonpaez.github.io/fix_phone-site/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/bluered_thestore.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pagina Accesorios y Fundas Personalizadas</h5>
                <p class="card-text">Venta de fundas y accesorios móviles.
                  Basada en la herramienta Bootstrap, uso de cards, carousel, forms, button.</p>
                <a href="https://gastonpaez.github.io/bluered_the_store/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/alura_cv.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Alura Challenge CV</h5>
                <p class="card-text">CV challenge frontend #1 Alura</p>
                <a href="https://gastonpaez.github.io/Challenge_frontend_1/" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/alura_ecommerce.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Alura E-Commerce</h5>
                <p class="card-text">Challenge frontend #2 Alura </p>
                <a href="https://gastonpaez.github.io/ChallengeFrontend_2" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Django E-commerce</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex justify-content-between px-md-1 d-flex justify-content-between px-md-1">  
            <div class="card text-dark bg-white mb-3" style="width: 18rem;">
              <img src="./img/works/epark.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">E-park</h5>
                <p class="card-text">Proyecto NoCountry Grupal. Estacionamiento online de parkeaderos, desarrollado con bootstrap y Django.</p>
                <a href="#" class="btn btn-secondary" >Ver Pagina</a>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  
  </section>