<!--
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////
  -->
<section class="vh-100" style="background-color: #1a0308">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="../../assets/img/login/argprog.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form
                  *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <span class="h1 fw-bold mb-0">Registrarse</span>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="username">Nombre de Usuario</label>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      name="username"
                      [(ngModel)]="form.username"
                      required
                      minlength="3"
                      maxlength="20"
                      #username="ngModel"
                      [ngClass]="{
                        'is-invalid': f.submitted && username.errors
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="username.errors && f.submitted"
                    >
                      <div *ngIf="username.errors['required']">
                        Username is required
                      </div>
                      <div *ngIf="username.errors['minlength']">
                        Username must be at least 3 characters
                      </div>
                      <div *ngIf="username.errors['maxlength']">
                        Username must be at most 20 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      name="email"
                      [(ngModel)]="form.email"
                      required
                      email
                      #email="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="email.errors && f.submitted"
                    >
                      <div *ngIf="email.errors['required']">
                        Email is required
                      </div>
                      <div *ngIf="email.errors['email']">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label for="password">Contraseña</label>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel"
                      [ngClass]="{
                        'is-invalid': f.submitted && password.errors
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="password.errors && f.submitted"
                    >
                      <div *ngIf="password.errors['required']">
                        Password is required
                      </div>
                      <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <button class="btn btn-primary btn-block">Registrarse</button>
                  </div>

                  <div
                    class="alert alert-warning"
                    *ngIf="f.submitted && isSignUpFailed"
                  >
                    Signup failed!<br />{{ errorMessage }}
                  </div>
                </form>

                <div class="alert alert-success" *ngIf="isSuccessful">
                  Your registration is successful!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
