<section class="work-experience mt-5 mb-5" id="work-experience" >

    <p class="h1 mt-5 mb-5 text-center">Experiencia Laboral</p>
    <div class="accordion margined" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Movil DGM - Reparación de Dispositivos
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <strong>| DIC 2016 - Actualidad | Autonomo |</strong> 
            <ul>
              <li>Soluciones informaticas</li>
              <li>Reparación de hardware pc, notebook, celulares, tablets y dispositivos electronicos.</li>
              <li>Instalación y reparación de windows y problemas de software.</li>
              <li>Armado de PC</li>
              <li>Atención y venta al publico</li>
            </ul>              
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Tienda Tecno - Técnico Micro Electrónica
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>| JUN 2017 - MAR 2020 |  Relación dependencia |</strong>
            <ul>
              <li>Reparación de dispositivos electrónicos y móvil.</li>
              <li>Hardware y Software de celulares, tabletas, pc y notebooks</li>                
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header fw-bold" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            La Gran Estrella (Mayorista Textil)
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>| MAR 2014 - MAY 2015 | Relacion dependencia |</strong>
            <ul>
              <li>Tareas administrativas</li>
              <li>Venta al publico</li>
              <li>Encargado de E-Commerce, creación, logística y venta on-line.</li>                
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Sayka Underwear (Fabrica Lencería) - Vendedor
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>| JUN 2013 - DIC 2015 | Freelance |</strong>
            <ul>
              <li>Vendedor a empresas mayoristas y minoristas.</li>
              <li>Tares de búsqueda de clientes</li>
              <li>Cobranzas</li>                
              <li>Gestión presencial y remota telefonicamente y via email.</li>                
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>