<section class="profile bg-white" id="profile">
    <div class="container pt-5 pb-5 margined">
        <div class="row d-flex align-items-center">
          <div class="col">        
            <p class="h3">Hola, me llamo</p>
            <p class="h1">Gastón Paez</p>
            <p class="h4">Vivo en Buenos Aires, Argentina</p>              
            <p class="h3">y soy desarrollador web Full-Stack</p>              
          </div>
          <div class="col">
            <img src="./img/profile.png" alt="Imagen perfil" class="rounded-circle" width="300px">
          </div>
        </div>
      </div>
   </section>  