<section class="hardskills mt-5 bg-dark pt-5 pb-5" id="hardskills" >
    <div class="container text-center margined">
      <p class="h1 text-warning pt-3 pb-5">Habilidades</p>
      <div class="card-group">     

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/html5.png" alt="html5">
          <div class="card-body">
            <h5 class="card-title">HTML</h5>              
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/css3.png" alt="css">
          <div class="card-body">
            <h5 class="card-title">CSS</h5>              
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/js.png" alt="javascript">
          <div class="card-body">
            <h5 class="card-title">HTML</h5>              
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/typescript.png" alt="">
          <div class="card-body">
            <h5 class="card-title">TypeScript</h5>              
          </div>
        </div> 

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/angular.png" alt="">
          <div class="card-body">
            <h5 class="card-title">Angular</h5>              
          </div>
        </div> 

      </div>  

      

      <div class="card-group mt-5">     
        
        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/java.png" alt="">
          <div class="card-body">
            <h5 class="card-title">Java</h5>              
          </div>
        </div>     

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/python.png" alt="python">
          <div class="card-body">
            <h5 class="card-title">Python</h5>              
          </div>
        </div> 

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/django.png" alt="python">
          <div class="card-body">
            <h5 class="card-title">Django</h5>              
          </div>
        </div> 

        
        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/mysql.png" alt="mysql">
          <div class="card-body">
            <h5 class="card-title">MySql</h5>              
          </div>
        </div>    

        <div class="card">
          <img class="card-img-top" src="../assets/img/hardSkills/git.png" alt="">
          <div class="card-body">
            <h5 class="card-title">Git</h5>              
          </div>
        </div> 
        
      </div>
    </div>    
  </section>