<section class="hardskills" id="hardskills" >
    <div class="container text-center margined">
      <p class="h1 text-title transparent">Habilidades</p>
      <div class="card-group">     

        <div class="card">
          
          <div class="card-body">            
            <circle-progress
              [percent]="90"
              [radius]="100"
              [title]="'HTML'"
              [imageSrc]="'../assets/img/hardSkills/html5.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>              
          </div>
        </div>
        
        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="75"
              [radius]="100"
              [title]="'CSS'"
              [imageSrc]="'../assets/img/hardSkills/css3.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                   
          </div>
        </div>

        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="65"
              [radius]="100"
              [title]="'JS'"
              [imageSrc]="'../assets/img/hardSkills/js.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>             
          </div>
        </div>

        <div class="card">
          
          <div class="card-body">
                     
            <circle-progress
              [percent]="60"
              [radius]="100"
              [title]="'TypeScript'"
              [imageSrc]="'../assets/img/hardSkills/typescript.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>             
          </div>
        </div> 

        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="67"
              [radius]="100"
              [title]="'Angular'"
              [imageSrc]="'../assets/img/hardSkills/angular.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                 
          </div>
        </div> 

      </div>  

      

      <div class="card-group mt-5">     
        
        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="45"
              [radius]="100"
              [title]="'Java'"
              [imageSrc]="'../assets/img/hardSkills/java.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                   
          </div>
        </div>     

        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="80"
              [radius]="100"
              [title]="'Python'"
              [imageSrc]="'../assets/img/hardSkills/python.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>          
          </div>
        </div> 

        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="78"
              [radius]="100"
              [title]="'Django'"
              [imageSrc]="'../assets/img/hardSkills/django.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                
          </div>
        </div> 

        
        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="68"
              [radius]="100"
              [title]="'MySQL'"
              [imageSrc]="'../assets/img/hardSkills/mysql.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                  
          </div>
        </div>    

        <div class="card">
          
          <div class="card-body">
                      
            <circle-progress
              [percent]="75"
              [radius]="100"
              [title]="'GIT'"
              [imageSrc]="'../assets/img/hardSkills/git.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits] = "false"
              [showSubtitle] = "false"
              [titleFontSize] = "'35'"
              [titleFontWeight]= "'500'"
              [subtitleFontSize]= "'12'"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#9ACD32'"
              [innerStrokeColor]="'#EBEBEB'"
              [animation]="true"
              [animationDuration]="300"
              [responsive]="true"
           ></circle-progress>                  
          </div>
        </div> 
        
      </div>
    </div>    
  </section>